@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    color: #000000;
}
a{
    text-decoration: none !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

    font-weight: 600;

}





body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: black;
}
header{
    padding:25px 90px;
    color: #fff;

    
}

.my-text .char{
 
color: #fff;
    
    
}
li{
   list-style: none;
}

/* header css  */
.menu-main-list {
    font-size: 25px;
    display: flex;
    gap: 60px;
    justify-content: flex-end;
}
.menu-main {
    display: flex;
    justify-content: space-between;
}
.ham-main-list li {
    font-size: 60px;
    color:#000;
}
.ham-main {
    background-color: #fff;
    width: 35%;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:800px 0px 0px 800px;
    transform: translateX(900px);
    transition:  1s all;
    
    
}
.ham-main.active{
 transform: translateX(0px);
  border-radius:0px 0px ;
}
.hamburger {
    background: #fff;
    padding: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    top: 20px;
    /* transition: 1s all; */
    z-index: 1111111;
cursor: pointer;
}
.ham-inner{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}
.lines{
    border-bottom: 7px solid #000000;
    transition: 0.7s rotate;
    
}
.line2{
    width: 100%;
    transition: 0.7s width;
}
.hamburger.active .line3{
    rotate: 45deg;
    margin-top: -12px;
}
.hamburger.active .line1{
    rotate: 135deg;
}
.hamburger.active  .ham-inner{
    gap: 0;
}
.hamburger.active .line2{
    width: 0;
    transition: 0s width;
    
}
/* header css end */





#page1,#page4{
    display: flex;
    justify-content: center;
    margin-top:100px;
    height: 90vh;
    /* border: 5px solid #5fb3b4; */
}

#page2{
    height: 100vh;
    /* border: 5px solid #5fb3b4; */
}

.heading{
color: #ffffff;
}
#page1 .heading h1 {
    font-size: 150px;
    font-weight: 900;
    line-height: 140px;
    text-transform: uppercase;
    text-align: center;
    
}


#rotating-text {
    position: absolute;
    animation: rotation 30s infinite linear;
    width: 200px;
    align-items: center;
}
@keyframes rotation {
from {
transform: rotate(0deg);
}
to {
transform: rotate(360deg);
}
}
svg textPath { 
  font-size: 45px;  
    text-transform: uppercase;
    letter-spacing: 20px; 
    fill: #fff; 
}

.about-arrow {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    left: 0;
    bottom: 200px;
}
.arrow-in-btn{
    z-index: 1;
}



#page1 .heading h1:nth-child(1){

    color: #5fb3b4;

}


.about-me-img {
    width: 400px;
    right: 30%;
    top: 50%;
    z-index: -1;
    /* filter: saturate(0.7); */
    height: 480px;
    object-fit: cover;
    border-radius: 20px;
}

.about-me-row p {
    font-size: 23px;
    
}

.about-me-row h4 {
    font-size: 60px;
   
}
.about-me-row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-btn {
    background: #fff;
    color: #000;
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 21px;
    line-height: 100px;
    font-weight: 600;
}
.divider-about {
    border-bottom: 2px solid #fff;
    width: 36%;
    height: 20px;
}

.projects h2 {
    margin-bottom: 50px;
    font-weight: 100;
    /* text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
    text-underline-position: under; */
    font-size: 3.5rem;
}



.projectelements {
cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
    border-top: 1px solid #888;
    justify-content: space-between;
}

.projectelements img {
    /* display: none; */
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    width: 30%;
    z-index: 999;
    position: absolute;
    border-radius: 10px;
    transform: translate(-69%, -50%);
}


/* #bg-circle {
   
    cursor: pointer;
    opacity: 1;
    pointer-events: none;
    width: 30%;
    z-index: 999;
    position: absolute;
    border-radius: 10px;
    transform: translate(-69%, -50%);
} */
  
/* .flair {
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
  } */







html.has-scroll-smooth {
    overflow: hidden;
  }
  html.has-scroll-dragging,
  html.has-scroll-dragging * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .has-scroll-smooth body {
    overflow: hidden;
  }
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  .c-scrollbar:hover,
  .has-scroll-dragging .c-scrollbar,
  .has-scroll-scrolling .c-scrollbar {
    opacity: 1;
  }
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffffff;
  
    width: 3px;
  
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  



.my-text {
    font-size: 7rem;
    text-transform: uppercase;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    line-height: 5.9rem;
}

.char {
    transform: translateY(215px);
    transition: transform 1s;
}



.edu, .exp {
    border-bottom: 1px solid #959595;
    padding: 30px 0px;
}


.edu-row h3 {
    font-size: 1.4rem;
}

.edu-row h4 {
    font-size: 1.1rem;
    color: #b2b2b2;
}

.edu-row h2 {
    font-size: 50px;
    font-weight: 100;
}








/*! locomotive-scroll v4.0.4 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
    overflow: hidden;
  }
  
  html.has-scroll-dragging {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .has-scroll-smooth body {
    overflow: hidden;
  }
  
  .has-scroll-smooth [data-scroll-container] {
    min-height: 100vh;
  }
  
  [data-scroll-direction="horizontal"] [data-scroll-container] {
    white-space: nowrap;
    height: 100vh;
    display: inline-block;
    white-space: nowrap;
  }
  
  [data-scroll-direction="horizontal"] [data-scroll-section] {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    height: 100%;
  }
  
  .c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 11px;
    height: 100%;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }
  .c-scrollbar:hover {
    transform: scaleX(1.45);
  }
  .c-scrollbar:hover,
  .has-scroll-scrolling .c-scrollbar,
  .has-scroll-dragging .c-scrollbar {
    opacity: 1;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar {
    width: 100%;
    height: 10px;
    top: auto;
    bottom: 0;
    transform: scaleY(1);
  }
  [data-scroll-direction="horizontal"] .c-scrollbar:hover {
    transform: scaleY(1.3);
  }
  
  .c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
    width: 7px;
    border-radius: 10px;
    margin: 2px;
    cursor: -webkit-grab;
    cursor: grab;
  }
  .has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
  }
  [data-scroll-direction="horizontal"] .c-scrollbar_thumb {
    right: auto;
    bottom: 0;
  }
  
  .panel {
    height: 100vh;
  }
  .line11 {
    width: 100%;
    position: absolute;
    max-width: 300px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    box-shadow: 0 0 71px 146px #2D4F50;
    height: 300px;
    margin: 0 0 10px 0;
    /* position: relative; */
    display: block;
    transform: translate(-80%,-120%);
    background-color: #2D4F50;
    /* transition: 1s all; */
  }
  .smooth-scroll{
    /* position: relative; */
  }
  
  

  
  
  
  